.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  color: #1d1d1d;
}


.container{
  width: 90vw;
  height: 95vh;
}

.mat-elevation-z8{
  color: #1d1d1d;
}
